* {
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  font-size: 62.5%; // 1rem = 10px 10px/16px = 62.5%
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
